<br>
<br>
<% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>
<br>
<br>
<p class="intro_text">Search for nearby child resources in NYC (e.g., day care, after-school, etc.)</p>

<h3 class="search_label">
<%= form_tag "results", :method => :get do %>
  
    <%= label_tag :search, "Enter your address and city" %>
    
    <%= text_field_tag :search, nil, :required => true, :size => 60 %>
    <%= submit_tag "Search for nearby resources", :name => nil %>
  </h3>
  <% end %>
<br>
<br>
<br>

<p class="cbo">If you are a community organization and would like to be included in this directory click 
	<%= link_to "here.", controller: "cityspring", action: "new" %></p>

<br>
<br>