<!DOCTYPE html>
<html>
<head>
  <title>Cityspring</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  'results' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
	<header>
		<%= image_tag "CitySpring_logo2.png" %><br>
		<%= image_tag "CitySpring_bar.png" %>
		<br>
<nav>
	<h1>
	<%= link_to "Home", controller: "cityspring", action: "home" %>
	<%= link_to "Useful Resources", controller: "cityspring", action: "useful_resources" %>
	
</h1>
</nav>
</header>

<%= yield %> 

</body>
<footer>
	&copy; 2014 CitySpring
	<br> 
	All trademarks and registered trademarks appearing on this site are the property of their respective owners.
	</footer>
</html>
