<!DOCTYPE html>
<html>
<head>
  <title>Cityspring</title>
  <%= stylesheet_link_tag 'results' %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
	<header>
	<!--	<%= image_tag "CitySpring_logo2.png" %><br> -->
		<!-- <%= image_tag "CitySpring_bar.png" %> -->
		<br>

<nav>
	<h1>	
</h1>
</nav>
</header>
<div class="head_title">
	<%= link_to (image_tag "CitySpring_logo2.png", alt: "Logo"), controller: "cityspring", action: "home" %>
<!-- <%= link_to "Cityspring", controller: "cityspring", action: "home" %> -->
</div>

<div class="addl_nav">
	
<!--	<%= link_to "Useful Resources", controller: "cityspring", action: "useful_resources" %> -->
	</div>
<div class="spacer1">
</div>
<%= yield %>
<br>

</body>
<br>
<br>
<br>
<!-- <footer> -->
<div class = "footer">
	&copy; 2014 CitySpring
<br>
	All trademarks and registered trademarks appearing on this site are the property of their respective owners.
	</div> 
</html>
